<IfModule mod_rewrite.c>
    # Activar rewrite
    RewriteEngine on
    ErrorDocument 404 /web-side/anime_Xtrike/error/index

    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f

    RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2 [L,QSA]
</IfModule>
